
body {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    background-color:rgb(46, 75, 128);
}

.button {
    
    background-color: #71c78b; /* Green */
    border-radius: 8px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;

}

.button:hover {
    background-color: rgb(255, 255, 255); /* Green */
    color: rgb(214, 76, 76);
}

.logotext {
    color: black;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    text-decoration: none;
    margin: 0 -25px;
    font-size: 10px;
    padding-left: 20px;
    
}

#loginButton{
    float: right;
}

.container {
    text-decoration: none;
    margin: 0 0px;
    width: 160;
    background-color: #f2f2f2;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.logoimg {
    margin: 0 10px;
}

li {
    display: inline-block;
    margin: 10 15px; 
}

li .active {
    color: #f2f2f2;
    background-color: #424656;
}

.navbar #navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-decoration: none;
    text-align: center;
    color: black;
    margin:auto;
}

.navbar-button{
    padding: 11px;
    text-decoration: none;
}

.navbar-button:hover{
    color: #f2f2f2;
    background-color: #727688;
}

.calendar {
    text-align: right;
    width: "100";
    height: "400";
}

.create_event_container {
    margin: 0 0px;
    background-color: #B46572;
    border-radius: 8px;
    
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#homepagestatic {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto
}

.eventContainer {
    position: relative;
    width:fit-content;
    margin: auto;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 15px;

}

#eventItems {
    text-align: left;
    border-bottom: 2px solid black;
    column-span: 100%;

}

#leftJustify{
    text-align: left;
}

.friendsContainer {
    margin: 0 0px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.friendsListUL {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    width: auto;
    height: auto;
}
  
.friendsListLI{
    display: block;
    border: 1px solid f2f2f2; 
    margin-top: -1px; 
    border-radius: 4px;
    background-color: f2f2f2; 
    padding: 12px;
}

.welcome{
    text-align: center;
    display: block;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
}

#loginbuttonform {
    float: right;
}

.items {
    color:#05ee4b;
}

.button-fancy {
  background-color: #f2f2f2;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 15px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button-fancy:hover {
  background-color: #d8dbdb;
}

.button-fancy:focus {
  outline: 0;
}

.textbox-fancy{
    background-color: #A6ABBD;
    border: 1px solid #424656;
    border-radius: 5px;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    padding: 0 10px;
    position: inherit;
    text-align: left;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
}

.signup-button{
    background-color: #2E4B80;
    border:5px solid #424656 !important;
    border-radius: 8px;
    color: #f2f2f2;
    cursor: pointer;
    display: inline-block;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    padding: 50 50px;
    text-align: center;
    text-decoration: none;
}

.signup-button:hover {
    background-color: #424656;
}

.delete:hover {
    cursor: pointer;
    color: #f2f2f2;
    background-color: #424656;
}

.invalid-feedback {
    color:#B46572;
}

.footer{
    position:absolute;
    bottom:0;
}