.button {
    background-color: #71c78b; /* Green */
    border-radius: 8px;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(255, 255, 255); /* Green */
    color: rgb(214, 76, 76);
}

.logotext {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 -25px;
    font-size: 10px;
    padding-left: 20px;
    
}

.container {
    margin: 0 0px;
    width: 160;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.logoimg {
    margin: 0 10px;
}

li {
    display: inline-block;
    margin: 0 10px; 
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: black;
}
.calendar {
    text-align: right;
    width: "100";
    height: "400";
}

.create_event_container {
    margin: 0 0px;
    background-color: #ffffff;
    border-radius: 8px;
    
}